{% extends 'base.html' %}
{% block content %}
{% load static %}
<style>
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

 .hero-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 50px;
    background-image: url("{% static 'images/3.jpg' %}");
    background-size: 100% auto; /* Width full hobe */
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    color: white;
}


.hero-text h1 {
    font-family: 'PT Serif', serif;
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
    line-height: 1.2;
}

  .hero-text h1 span {
    display: block;
  }

 .hero-subtitle {
    font-family: 'Finlandica', sans-serif;
    font-size: 1.2rem;
    margin-top: 15px;
    color: #f0f0f0;
    font-weight: 400;
}

  .hero-buttons {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 300px;
  }

  .hero-buttons a {
    text-decoration: none;
    text-align: center;
    padding: 12px 20px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1rem;
    color: #ffffff !important;
    border: 2px solid #ffffff;
    background-color: transparent;
    transition: background-color 0.2s, color 0.2s, transform 0.2s;
  }

  .hero-buttons a:hover {
    background-color: #ffffff;
    color: #000000 !important;
    transform: translateY(-3px);
  }

  @media (min-width: 768px) {
    .hero-section {
      flex-direction: row;
      text-align: left;
      justify-content: space-between;
      padding: 100px 50px;
    }

    .hero-text {
      max-width: 600px;
    }
    .hero-line {
      width: 500px;
      height: 2px;
      background-color: #0EA04B;
      margin: 20px 0;
      border-radius: 2px;
   }
    .hero-buttons {
      max-width: 250px;
      align-items: flex-start;
    }
  }
</style>


<div class="hero-section">
<div class="hero-text">
  <h1>
    <span>Raise Your Voice,</span>
    <span>Shape Your Future</span>
  </h1>
  <div class="hero-line"></div>
  <p class="hero-subtitle">A Digital Bridge Between Citizens and Decision-Makers</p>
</div>
  <div class="hero-buttons">
    {% if user.is_authenticated %}
      <a href="{% url 'create_issue' %}"> Post an Issue</a>
      <a href="{% url 'issue_list' %}"> View Issues</a>
    {% else %}
      <a href="{% url 'login' %}">Login to Post</a>
      <a href="{% url 'issue_list' %}">View Issues</a>
    {% endif %}
  </div>
</div>

{% endblock %}
